<table>
  <tr>
    <th>#</th>
    <th>Название</th>
    <th>Посетители</th>
  </tr>
  <% statistics.each do |site| %>
    <tr>
      <td><%= site[:number] %></td>
      <td><a href="http://<%= site[:url] %>"><%= site[:title] %></a></td>
      <td><%= site[:visitors].to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, '\\1 ') %></td>
    </tr>
  <% end %>
</table>
